<div class="quemContainer">

    <h1>Quem somos</h1>
    
    <div class="quemContent">
       
        <div class="quemTexto">
            <h2>Nossa história</h2>
            <p>Somos uma família de italianos apaixonados por culinaria. Fazemos dos mais diversos pratos de todos os gostos da culinaria italiana</p>
            <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet dolores minus voluptas. Quibusdam ea harum maxime. Similique error nemo architecto autem optio quia inventore dolor, quos minima! Illo, ea!Similique error nemo architecto autem optio quia inventore dolor, quos minima! Illo, ea!
            <br><br><br> - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed tempore similique consectetur fugiat nemo architecto quas eius.
            <br><br> - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed tempore similique consectetur fugiat nemo architecto quas eius.
            <br><br> - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed tempore similique consectetur fugiat nemo architecto quas eius.
            <br><br><br> - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed tempore similique consectetur fugiat nemo architecto quas eius.orem ipsum dolor sit, amet consectetur adipisicing elit. Sed tempore similique consectetur fugiat nemo architecto quas eius.orem ipsum dolor sit, amet consectetur adipisicing elit. Sed tempore similique consectetur fugiat nemo architecto quas eius.
        </div>
        
        <img src="https://images.unsplash.com/photo-1593548615309-5a45c504f994?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aXRhbGlhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
    
    </div>
    